doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/build.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
        processEscapes: true
      });
    script(type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  body
    block content

    block scripts
      script(type="text/javascript", src="/javascripts/build.js")
      script(type="text/javascript").
        window.Jeopardy = require('jeopardy');
