doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/build.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(type="text/javascript", src="/javascripts/jquery.js")
    //script(type="text/javascript", src="/javascripts/handlebars.js")
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    script(type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  body
    block content

    block scripts
      //script(type="text/javascript", src="/javascripts/ember.js")
      script(type="text/javascript", src="/javascripts/build.js")
      script(type="text/javascript").
        window.Jeopardy = require('jeopardy');
        