doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/build.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(type="text/javascript", src="/javascripts/jquery.js")
    //script(type="text/javascript", src="/javascripts/handlebars.js")
  body
    block content

    block scripts
      //script(type="text/javascript", src="/javascripts/ember.js")
      script(type="text/javascript", src="/javascripts/build.js")
      script(type="text/javascript").
        window.Jeopardy = require('jeopardy');
        