body
  padding: 10px 50px
  font: 42px "Lucida Grande", Helvetica, Arial, sans-serif
  color #ddd
  background-color #004

a
  color: #00B7FF

div#game-grid
	width 100%

	.category
    width 20%
    float left

    div
      text-align center
      border-left 1px solid yellow
      border-right 1px solid yellow

    .header
      font-weight bold
      border-top 1px solid yellow
      border-bottom 3px solid yellow
      height 100%
      min-height 110px
      span.text
        vertical-align center

    .question
      padding 20px 0px
      font-size 42px
      border-bottom 1px solid yellow

      .qtext
        display none

.dia-question, .dia-question-answer
  font-size 30px
  border-radius 10px
  -moz-border-radius 10px
  -webkit-border-radius 10px

  span
    display block
    margin-bottom 10px

  color black

.overlay
  background-color #000
  opacity 0.75

.MathJax
  span.math
    font-size 24px